---
http_interactions:
- request:
    method: post
    uri: https://api.gateio.ws/api/v4/spot/orders
    body:
      encoding: UTF-8
      string: '{"currency_pair":"ETH_USDT","side":"buy","amount":"0.0001","price":"100000","time_in_force":"gtc"}'
    headers:
      Content-Type:
      - application/json
      Key:
      - test_api_key
      Sign:
      - 8be8ec44e251f363f3f798be7d9ed67cd5126086963fe38e160214f7abd59cac1d09165bdb3a7c51d97e59b535a10f0da6cb719d8e1566eb8022543a641152d9
      Timestamp:
      - '1752480546'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Out-Time:
      - '1752480549053320'
      X-Gate-Trace-Id:
      - 6874bb25bf46163a53b546f81b664636
      X-In-Time:
      - '1752480549049412'
    body:
      encoding: UTF-8
      string: '{"label":"INVALID_KEY","message":"Invalid key provided"}'
  recorded_at: Mon, 14 Jul 2025 08:09:08 GMT
- request:
    method: post
    uri: https://api.gateio.ws/api/v4/spot/orders
    body:
      encoding: UTF-8
      string: '{"currency_pair":"BTC_USDT","side":"buy","amount":"0.0001","price":"100000","time_in_force":"gtc"}'
    headers:
      Content-Type:
      - application/json
      Key:
      - invalid_key
      Sign:
      - cdf741c07ae70e5e86dfb02f1918f7399cfbdbded332a0cbcf401ae52518bff80bacb7cead1629cc7fcc0a6f85938574eb80e8bc6f5e78a3d2edb85ef59234b8
      Timestamp:
      - '1752752773'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Out-Time:
      - '1752752775681326'
      X-Gate-Trace-Id:
      - 6878e28722f9f8fa21342fc5e71a8d29
      X-In-Time:
      - '1752752775676293'
    body:
      encoding: UTF-8
      string: '{"message":"Invalid key provided","label":"INVALID_KEY"}

        '
  recorded_at: Thu, 17 Jul 2025 11:46:15 GMT
recorded_with: VCR 6.3.1
