---
http_interactions:
- request:
    method: get
    uri: https://api.gateio.ws/api/v4/spot/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - test_api_key
      Sign:
      - 3b89f5723cd25a81bd0f9cac1eebc23572ac82022fca778805d05c01a94e741d534ab17274e79e5d1ee58a634b1c451a7ec4a9937b77c083763b1e59c3e3e230
      Timestamp:
      - '1752456566'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Gate-Ratelimit-Requests-Remain:
      - '199'
      X-Gate-Ratelimit-Limit:
      - '200'
      X-Gate-Ratelimit-Reset-Timestamp:
      - '1752456568'
      X-Out-Time:
      - '1752456568965756'
      X-Gate-Trace-Id:
      - 68745d785bd84ce7d09cbb376eb25112
      X-In-Time:
      - '1752456568940443'
    body:
      encoding: ASCII-8BIT
      string: '[{"currency_pair":"BAND_USDT","last":"0.6832","lowest_ask":"0.6845","highest_bid":"0.683","change_percentage":"3.24","change_utc0":"-0.3","change_utc8":"-1.9","base_volume":"412431.62","quote_volume":"282157.398848","high_24h":"0.7019","low_24h":"0.657"},{"currency_pair":"ONT_USDC","last":"0.1454","lowest_ask":"0.1455","highest_bid":"0.1453","change_percentage":"3.7","change_utc0":"0.13","change_utc8":"-1.15","base_volume":"2380534.88","quote_volume":"344455.73492","high_24h":"0.1484","low_24h":"0.1395"},{"currency_pair":"CYRUS_USDT","last":"0.0003314","lowest_ask":"0.0003317","highest_bid":"0.0003314","change_percentage":"0.03","change_utc0":"0","change_utc8":"0","base_volume":"37055271.3","quote_volume":"12283.428448204","high_24h":"0.0003323","low_24h":"0.0003307"},{"currency_pair":"OMNI_USDC","last":"2.912","lowest_ask":"2.888","highest_bid":"2.882","change_percentage":"-0.98","change_utc0":"1.49","change_utc8":"-1.65","base_volume":"166497.7","quote_volume":"494578.55454","high_24h":"3.177","low_24h":"2.821"},{"currency_pair":"TOSHI3L_USDT","last":"0.13059","lowest_ask":"0.13074","highest_bid":"0.12965","change_percentage":"3.87","change_utc0":"-1.85","change_utc8":"-11.47","base_volume":"797068.04","quote_volume":"109595.9258828","high_24h":"0.15317","low_24h":"0.12391","etf_net_value":"0.12980411","etf_pre_net_value":"0.14908349","etf_pre_timestamp":1752422400,"etf_leverage":"3.2915416916616698"},{"currency_pair":"KNINE_USDT","last":"0.000002661","lowest_ask":"0.000002665","highest_bid":"0.000002658","change_percentage":"0.22","change_utc0":"0.45","change_utc8":"-0.11","base_volume":"27073156114","quote_volume":"71812.616002788","high_24h":"0.000002714","low_24h":"0.000002563"},{"currency_pair":"DRX_USDT","last":"0.000001231","lowest_ask":"0.000001234","highest_bid":"0.00000123","change_percentage":"2.58","change_utc0":"1.31","change_utc8":"1.15","base_volume":"5866[...]
