---
http_interactions:
- request:
    method: get
    uri: https://api.gateio.ws/api/v4/spot/trades?currency_pair=BTC_USDT&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - test_api_key
      Sign:
      - 0f8e90c7a26188760f83f4d76b4ef43b8f95a5f637194c6c15cfea9a65e27bc246a7e6202d62a44864db0e8785e88cdc2430c99db9712c32c23619bf2cad08d0
      Timestamp:
      - '1752465616'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Gate-Ratelimit-Requests-Remain:
      - '199'
      X-Gate-Ratelimit-Limit:
      - '200'
      X-Gate-Ratelimit-Reset-Timestamp:
      - '1752465619'
      X-Out-Time:
      - '1752465619406448'
      X-Gate-Trace-Id:
      - 687480d345af6796439c9fb2c10b5247
      X-In-Time:
      - '1752465619404823'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"106784575","create_time":"1752465614","create_time_ms":"1752465614835.379000","currency_pair":"BTC_USDT","side":"sell","amount":"0.0005","price":"120837.2","sequence_id":"106784575"},{"id":"106784574","create_time":"1752465614","create_time_ms":"1752465614143.101000","currency_pair":"BTC_USDT","side":"sell","amount":"0.00799","price":"120843.5","sequence_id":"106784574"},{"id":"106784573","create_time":"1752465614","create_time_ms":"1752465614143.096000","currency_pair":"BTC_USDT","side":"sell","amount":"0.00053","price":"120845.5","sequence_id":"106784573"},{"id":"106784572","create_time":"1752465614","create_time_ms":"1752465614143.090000","currency_pair":"BTC[...]
